<div class="flex flex-col p-4 gap-2 ">
  <div class="flex gap-2 h-10 items-center">
    <div>Selected: {{ pendingSeats().size }}</div>
    @if (pendingSeats().size !== 0) {
      <button class="w-30 py px-1" (click)="unselectAllSeats()">Unselect all</button>
    }
  </div>
  <div class="flex gap-4 ">
    @for (seatState of seatsState(); track seatState.id) {
      <button
        class="w-10 py px-1 disabled:bg-red-200"
        [ngClass]="getSitColor($index)"
        [disabled]="seatState.status === SeatStatus.BOOKED"
        (click)="handleCinemaSeatClick($index)"
      >
        {{ seatState.id }}
      </button>
    }
  </div>
  <button
    class="w-20 py px-1 disabled:bg-gray-300 disabled:text-gray-500"
    [disabled]="pendingSeats().size === 0"
    (click)="handleBuySeats()"
  >
    Buy
  </button>
  @if (pendingSeats().size !== 0) {
    <div>Final cost: {{ finalSeatsCost() }}</div>
  }
</div>
