.header {
  position: sticky;
  top: 8px;

  padding: 10px 16px;
  margin-bottom: 8px;

  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  font-size: 14px;
  background: aliceblue;
  box-shadow: 0 5px 10px -5px rgba(127, 139, 163, 0.7);
  white-space: nowrap;

  transition: transform 0.3s;
}

.hidden {
  transform: translate3d(0, -100%, 0) translateY(-20px);
  transition: transform 0.3s 0.5s;
}
